.App {
  text-align: center;
}

.todolist {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.todoform {
  width: 50vw;
  margin: 0 auto;
}

.button {
  margin-left: 2rem;
}

.complete {
  text-decoration: line-through;
}
